<div [class]="rootClasses()" [class.pr-8]="!dismissible()">
  <!-- Icon -->
  @if (type() === "success") {
  <ng-icon
    name="heroCheckCircleSolid"
    size="20"
    class="shrink-0 text-emerald-500"
  ></ng-icon>
  } @else if (type() === "warning") {
  <ng-icon
    name="heroExclamationTriangleSolid"
    size="20"
    class="shrink-0 text-yellow-600"
  ></ng-icon>
  } @else {
  <ng-icon
    name="heroXCircleSolid"
    size="20"
    class="shrink-0 text-red-500"
  ></ng-icon>
  }

  <!-- Content -->
  <div
    class="text-md flex-1"
    [class]="
      type() === 'success'
        ? 'text-green-500'
        : type() === 'warning'
        ? 'text-yellow-800'
        : 'text-red-500'
    "
  >
    {{ message() }}
  </div>

  @if (dismissible()) {
  <!-- Dismiss button -->
  <button
    (click)="onDismiss()"
    aria-label="close"
    class="shrink-0 rounded-md p-1"
    [class]="
      type() === 'success'
        ? 'text-green-500 hover:bg-green-100'
        : type() === 'warning'
        ? 'text-yellow-700 hover:bg-yellow-100'
        : 'text-red-500 hover:bg-red-100'
    "
  >
    <ng-icon name="heroXMarkSolid" size="16"></ng-icon>
  </button>
  }
</div>
