@let base = "px-4 py-2.5 text-sm font-medium shadow-sm transition-all
disabled:cursor-not-allowed disabled:opacity-50 focus-visible:outline-none
focus-visible:ring-2 focus-visible:ring-offset-2 whitespace-nowrap"; @let color
= colorClasses()?.trim(); @let variantClasses = variant() === "primary" ?
"text-white " + (color || "bg-biocommons-primary-teal hover:bg-biocommons-secondary-blue
focus-visible:ring-biocommons-primary-teal") : "border bg-white hover:bg-bg-secondary " +
(color || "text-biocommons-primary-teal border-biocommons-primary-teal focus-visible:ring-biocommons-primary-teal");

<button
  [type]="type()"
  [disabled]="disabled() || loading()"
  [class]="
    base + ' ' + widthClass() + ' ' + borderRadius() + ' ' + variantClasses
  "
>
  @if (loading()) {
  <div class="flex items-center justify-center">
    <svg
      class="h-5 w-5 animate-spin text-white"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
  </div>
  } @else {
  <ng-content></ng-content>
  }
</button>
