/* Dialog component now uses Tailwind classes exclusively */
/* All styling is handled through Tailwind utilities in the template */

/* Only keeping essential animations that aren't easily replicated in Tailwind */
.dialog-enter {
  opacity: 0;
  transform: scale(0.95);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 150ms ease-out, transform 150ms ease-out;
}

.dialog-leave {
  opacity: 1;
  transform: scale(1);
}

.dialog-leave-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 150ms ease-in, transform 150ms ease-in;
}
